.profile {
    margin: 0 auto;
}

.intro {
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 250px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}

.info {
    margin: 10px;
}

.username {
    display: flex;
    gap: 10px;
}

.username button, .bio button {
    width: 125px;
}

.changeUsername {
    width: 125px;
}

.startConversation {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    gap: 5px;
}

@media only screen and (min-width: 768px) {
  .posts {
    grid-auto-rows: 200px;
  }
}